.dw-blue .dwwr{border-radius:3px;background:#f5f5f5;color:#000}
.dw-blue .dwv{text-align: left;height: 36px;line-height: 36px;padding: 0 0 0 28px;border-bottom: 1px dashed #dedddb;font-size: 18px;color: #7e6d5d}
.dw-blue .dwb {height:36px;line-height:36px;font-size: 14px;padding: 0 36px;border-radius: 1.5em;text-align: center;margin-top: 15px;color: #fff;text-decoration: none;display:inline-block;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;margin-bottom: 10px;background: #c5272e;border-radius: 21px}
.dw-blue .dwb-a{background:#c5272e}
.dw-blue .dwbw .dwb{border-left:1px solid #dbdbdb}
.dw-blue .dwbw:last-child .dwb{background-color: #e4d9cd;}
.dw-blue .dw-rtl .dwbw .dwb{border:0;border-right:1px solid #dbdbdb}
.dw-blue .dw-rtl .dwbw:last-child .dwb{border-radius:0 0 0 3px}
.dw-blue .dw-rtl .dwbw:first-child .dwb{border:0;border-radius:0 0 3px 0}
.dw-blue .dw-bubble-bottom .dw-arr{border-color:transparent transparent #f5f5f5}
.dw-blue .dw-bubble-top .dw-arr{border-color:#f5f5f5 transparent transparent}
.dw-blue .dwc{padding:30px 10px 1px}
.dw-blue .dwhl{padding:1px 10px}
.dw-blue .dw-li{color:#000;font-size:18px}
.dw-blue .dw-hl{background:rgba(49,182,231,.5)}
.dw-blue .dwwo{background:-webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(.52,rgba(245,245,245,0)),color-stop(.48,rgba(245,245,245,0)),to(#f5f5f5));background:-webkit-linear-gradient(#f5f5f5,hsla(0,0%,96%,0) 52%,hsla(0,0%,96%,0) 48%,#f5f5f5);background:linear-gradient(#f5f5f5,hsla(0,0%,96%,0) 52%,hsla(0,0%,96%,0) 48%,#f5f5f5)}
.dw-blue .dwwb{background:#292829;color:#7e7e7e}
.dw-blue .dwwb span{display:none}
.dw-blue .dwwb:before{position:absolute;top:0;left:0;width:100%;text-align:center;font-size:26px}
.dw-blue .dwwbm{top:0;bottom:auto}
.dw-blue .dwwbp{top:auto;bottom:0}
.dw-blue .dwwl .dwb-a{background:#292829;color:#319abd}
.dw-blue .dwwol{left:20%;display:block;width:60%;border-top:2px solid #395BEC;border-bottom:2px solid #395BEC}
.dw-blue .dwwms .dwwo,.dwwms .dwwol{display:none}
.dw-blue .dwwms .dw-li{padding:0 36px}
.dw-blue .dwwms .dw-li:after{position:absolute;top:50%;right:10px;left:auto;z-index:1;margin-top:-9px;width:14px;height:14px;border:1px solid #424542;content:''}
.dw-blue .dw-msel:before{top:50%;right:10px;left:auto;z-index:2;margin-top:-10px;width:14px;color:#29799c;text-shadow:0 0 5px #395BEC;line-height:14px}
.dw-blue .dww .dw-w-gr{padding:0 5px;font-weight:400;font-size:1pc}
.dw-blue .dww .dw-w-gr:after{display:none}
.dw-blue .dwwl .dwwb{background:#f5f5f5}
.dw-blue.dw-select .dwwr {border-radius: 0}
.dw-blue.dw-select .dwhl {padding: 1px 0}
.dw-blue.dw-select .dwwol {left: 0; width: 100%; background-color: rgba(0, 0, 255, .02); border-top:1px solid rgba(46, 39, 197, .274); border-bottom:1px solid rgba(46, 39, 197, .274);}
.dw-blue.dw-select .dwbw .dwb {border-radius: 0; border: none; background: none; color: #395BEC; margin: 0; font-size: 16px}
.dw-blue.dw-select .dwb-s {float: right}
.dw-blue.dw-select .dwb-c {float: left}
.dw-blue.dw-select .dwbw:last-child .dwb {color: #9A9A9A}
.dw-blue.dw-select .dw-li{font-size:16px}